.DraftEditor-root {
  border: 1px solid #f1f1f1;
  padding: 20px;
  border-radius: 5px;
}

.rdw-emoji-modal {
  left: -135px;
}

.rdw-embedded-modal {
  left: -91px;
}

.rdw-image-modal {
  left: -50px;
}
